@tailwind base;
@tailwind components;
@tailwind utilities;

@property --triangle-color {
  syntax: "<color>";
  initial-value: lightblue;
}

@property --triangle-rotation {
  syntax: "<angle>";
  initial-value: -45deg;
}

:root {
  --triangle-color: lightblue;
  --triangle-rotation: -45deg;
  --background: #323232;
  --foreground: #fff;
  --cyan: #9ffeff;
  --pink: #ff9fcf;
  --orange: #f78655;
  --blue: #7ea1e8;
  --purple: #5d3da4;
  --dark: #323232;
  --darkest: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

@layer base {
  details summary {
    @apply flex cursor-pointer select-none border-b px-1 py-2 text-2xl font-medium tracking-wider text-white;
    list-style-type: none; /* Updated to remove default list style */
  }

  details summary::after {
    @apply ml-auto block size-4 -rotate-45 rounded-sm border-b-2 border-l-2 transition-transform;
    content: "";
  }

  details[open] summary::after {
    transform: rotate(135deg) translateX(0.75rem);
    transform-origin: center;
  }

  details summary ~ * {
    @apply mt-4 h-auto px-4 opacity-100 transition-all duration-300 ease-in-out;
  }

  blockquote {
    @apply block text-2xl font-medium tracking-wider text-white;
  }

  blockquote::before {
    @apply block size-4 -rotate-45 rounded-sm border-b-2 border-l-2 transition-transform;
    content: open-quote;
  }

  blockquote::after {
    @apply block size-4 -rotate-45 rounded-sm border-b-2 border-l-2 transition-transform;
    content: close-quote;
  }

  .btn {
    @apply relative inline-block cursor-pointer select-none rounded-md border border-white/25 bg-white/20 px-4 py-2 text-xs font-medium uppercase tracking-widest text-white shadow-md transition-all duration-300 ease-in-out;
  }

  .btn input[type="radio"] {
    @apply absolute inset-0 h-full w-full cursor-pointer opacity-0;
  }

  .btn-group {
    @apply flex space-x-1 rounded-xl border-2 border-transparent p-1 transition-colors duration-200 ease-out-sine focus-within:bg-black/75;
  }

  .btn:hover {
    @apply bg-white/50;
  }

  .btn:has(:checked) {
    @apply cursor-default bg-white/90 text-black;
  }

  .btn:focus {
    @apply outline-none ring-2 ring-blue-300;
  }

  .btn:active {
    @apply bg-white/25;
  }
}

@layer components {
  /* "Blades" are a series of `////` diagonal lines */
  .blades,
  .reverse-blades {
    background-size: 1rem 1rem;
    background-image: repeating-linear-gradient(
      45deg,
      var(--foreground) 0,
      var(--foreground) 2.1px,
      transparent 0,
      transparent 50%
    );
    background-repeat: repeat-x;
  }

  .reverse-blades {
    background-image: repeating-linear-gradient(
      -45deg,
      var(--foreground) 0,
      var(--foreground) 2.1px,
      transparent 0,
      transparent 50%
    );
  }

  .blade-divider {
    @apply my-auto size-8 rotate-45 self-center border-l-2 border-white;
  }

  .prompt-wrapper {
    @apply flex w-full flex-grow flex-col rounded-md border-2 border-white/50 bg-black/20 bg-clip-border p-6 drop-shadow-lg backdrop-blur-xl transition-all duration-200 ease-out-sine hover:bg-blue-900/50 hover:drop-shadow-2xl;
  }

  .prompt-wrapper:focus-within {
    @apply border-white bg-gradient-to-tr from-neutral-900/25 via-neutral-900/75 to-neutral-950/50 ring-2 ring-white transition-all duration-200 ease-out-sine;
  }

  .prompt-controls {
    @apply flex items-center justify-between space-x-4 rounded-md border border-white/25 bg-black/50 p-1 opacity-90 backdrop-blur-md transition-opacity duration-200 ease-out-quad;
  }

  .prompt-wrapper:is(:focus-within, :not(:has(:placeholder-shown)))
    + .prompt-controls,
  .prompt-controls:focus-within,
  .prompt-controls:hover {
    @apply opacity-100 backdrop-blur-lg;
  }

  .prompt-controls input {
    @apply w-full flex-1 bg-transparent font-mono text-lg text-white;
  }

  .prompt-controls input[type="range"] {
    @apply h-2 rounded-lg focus:accent-white/90 focus:outline-none;
  }

  .prompt-controls input[type="radio"] {
    @apply flex-1 bg-white accent-white;
  }

  .prompt-controls input[type="radio"]:checked {
    @apply bg-blue-600 ring-2 ring-blue-600;
  }
}
