@tailwind base;
@tailwind components;
@tailwind utilities;

@property --triangle-color {
  syntax: "<color>";
  initial-value: lightblue;
}

@property --triangle-rotation {
  syntax: "<angle>";
  initial-value: -45deg;
}

:root {
  --triangle-color: lightblue;
  --triangle-rotation: -45deg;
  --background: #323232;
  --foreground: #fff;
  --color2: #9ffeff;
  --pink: #ff9fcf;
  --orange: #f78655;
  --blue: #7ea1e8;
  --purple: #5d3da4;
  --dark: #323232;
  --darkest: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

@layer components {
  /* "Blades" are a series of `////` diagonal lines */
  .blades,
  .reverse-blades {
    background-size: 1rem 1rem;
    background-image: repeating-linear-gradient(
      45deg,
      var(--foreground) 0,
      var(--foreground) 2.1px,
      transparent 0,
      transparent 50%
    );
    background-repeat: repeat-x;
  }

  .reverse-blades {
    background-image: repeating-linear-gradient(
      -45deg,
      var(--foreground) 0,
      var(--foreground) 2.1px,
      transparent 0,
      transparent 50%
    );
  }

  .blade-divider {
    @apply my-auto size-8 rotate-45 self-center border-l-2 border-white;
  }

  .prompt-wrapper {
    @apply flex w-full flex-grow flex-col rounded-md border-2 border-white/50 bg-black/20 bg-clip-border p-6 drop-shadow-lg backdrop-blur-xl transition-all hover:bg-blue-900/50 hover:drop-shadow-2xl;
  }

  .prompt-wrapper:focus-within {
    @apply bg-gradient-to-tr from-neutral-900/50 to-neutral-950/50 transition-all duration-100 ring-2 ring-white border-white;
  }
}
