@tailwind base;
@tailwind components;
@tailwind utilities;

@property --triangle-color {
  syntax: "<color>";
  initial-value: lightblue;
}

@property --triangle-rotation {
  syntax: "<angle>";
  initial-value: -45deg;
}

:root {
  --triangle-color: lightblue;
  --triangle-rotation: -45deg;
  --cell-size: 100px;
  --background: #323232;
  --foreground: #fff;
  --cyan: #9ffeff;
  --pink: #ff9fcf;
  --orange: #f78655;
  --blue: #7ea1e8;
  --purple: #5d3da4;
  --dark: #323232;
  --darkest: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

@layer base {
  details summary {
    @apply flex cursor-pointer select-none border-b px-1 py-2 text-2xl font-medium tracking-wider text-white;
    list-style-type: none; /* Updated to remove default list style */
  }

  details > summary::after {
    @apply ml-auto block size-6 origin-center transition-transform;
    content: url("/chevron-thin.svg");
  }

  details[open] > summary::after {
    @apply rotate-180 transform;
  }

  .details-content {
    @apply mt-4 hidden h-0 px-4 opacity-0 transition-all duration-300 ease-in-out;
  }

  details[open] .details-content {
    @apply block h-auto opacity-100;
    @starting-style {
      height: 0;
      opacity: 0;
    }
  }

  blockquote {
    @apply grid text-balance text-2xl font-medium tracking-wider text-white;
    grid-template-columns: 1em auto 1em;
  }

  blockquote::before {
    @apply size-4 justify-self-end;
    content: open-quote;
  }

  blockquote::after {
    @apply size-4 self-end;
    content: close-quote;
  }
}

@layer components {
  .btn {
    @apply relative inline-flex flex-grow cursor-pointer select-none items-center justify-between space-x-2 rounded-md border border-white/25 bg-white/20 px-2 py-1 text-center text-xs font-medium uppercase tracking-widest text-white shadow-md transition-all duration-300 ease-in-out md:flex-grow-0 md:px-4 md:py-2;
  }

  .btn input[type="radio"] {
    @apply absolute inset-0 h-full w-full cursor-pointer opacity-0;
  }

  .btn-group {
    @apply flex flex-grow justify-center space-x-1 rounded-xl border-2 border-transparent p-1 transition-colors duration-200 ease-out-sine focus-within:bg-black/75 md:flex-grow-0;
  }

  .btn:hover {
    @apply bg-white/50;
  }

  .btn:has(:checked) {
    @apply cursor-default bg-white/90 text-black;
  }

  .btn:focus {
    @apply outline-none ring-2 ring-blue-300;
  }

  .btn:active {
    @apply bg-white/25;
  }

  .btn-image {
    @apply aspect-square size-6 rounded-lg border border-neutral-800/50 bg-black/50 bg-clip-border shadow-md transition-shadow duration-200 ease-out hover:shadow-lg;
  }

  /* "Blades" are a series of `////` diagonal lines */
  .blades,
  .reverse-blades {
    background-size: 1rem 1rem;
    background-image: repeating-linear-gradient(
      45deg,
      var(--foreground) 0,
      var(--foreground) 2.1px,
      transparent 0,
      transparent 50%
    );
    background-repeat: repeat-x;
  }

  .reverse-blades {
    background-image: repeating-linear-gradient(
      -45deg,
      var(--foreground) 0,
      var(--foreground) 2.1px,
      transparent 0,
      transparent 50%
    );
  }

  .blade-divider {
    @apply my-auto size-8 rotate-45 self-center border-l-2 border-white;
  }

  .prompt-wrapper {
    @apply flex w-full flex-grow flex-col rounded-md border-2 border-white/50 bg-black/20 bg-clip-border p-6 drop-shadow-lg backdrop-blur-xl transition-all duration-200 ease-out-sine hover:bg-blue-900/50 hover:drop-shadow-2xl;
  }

  .prompt-wrapper:focus-within {
    @apply border-white bg-gradient-to-tr from-neutral-900/25 via-neutral-900/75 to-neutral-950/50 ring-2 ring-white transition-all duration-200 ease-out-sine;
  }

  .prompt-controls {
    @apply flex flex-wrap items-center justify-between gap-4 space-x-4 rounded-md border border-white/25 bg-black/50 px-2 py-4 opacity-90 backdrop-blur-md transition-opacity duration-200 ease-out-quad;
  }

  .prompt-wrapper:is(:focus-within, :not(:has(:placeholder-shown)))
    + .prompt-controls,
  .prompt-controls:focus-within,
  .prompt-controls:hover {
    @apply opacity-100 backdrop-blur-lg;
  }

  .prompt-controls input {
    @apply w-full flex-1 bg-transparent font-mono text-lg text-white;
  }

  .prompt-controls input[type="range"] {
    @apply h-2 rounded-lg focus:accent-white/90 focus:outline-none;
  }

  .prompt-controls input[type="radio"] {
    @apply flex-1 bg-white accent-white;
  }

  .prompt-controls input[type="radio"]:checked {
    @apply bg-blue-600 ring-2 ring-blue-600;
  }

  .generative-art {
    @apply grid h-full w-full select-none gap-0 overflow-hidden bg-transparent contain-strict;
  }

  .cell {
    transition: --triangle-rotation 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    width: minmax(var(--cell-size, 100px), 1fr);
  }

  .pattern-cell {
    --triangle-color: white !important;
    background-color: white;
  }

  .triangle,
  .striped {
    @apply h-full w-full bg-cover bg-no-repeat;
  }

  .triangle {
    background-image: linear-gradient(
      var(--triangle-rotation, -45deg),
      transparent,
      transparent 49.999%,
      var(--triangle-color) 50%,
      var(--triangle-color) 100%
    );
  }

  .striped {
    background-image: linear-gradient(
      var(--triangle-rotation, -45deg),
      transparent,
      transparent 24.999%,
      var(--triangle-color) 25%,
      var(--triangle-color) 49.999%,
      transparent 50%,
      transparent 74.999%,
      var(--triangle-color) 75%,
      var(--triangle-color) 100%
    );
  }
}
